grant {
   permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
   permission org.osgi.framework.AdminPermission "*", "*";
   permission java.lang.RuntimePermission "createClassLoader";
   permission javax.security.auth.AuthPermission "modifyPrincipals"; 
   permission java.io.SerializablePermission "enableSubclassImplementation"; 
   permission java.lang.RuntimePermission "accessClassInPackage.com.sun.proxy"; 
}; 
